@page
@model PizzeriaSushi2._0.Pages.AddModel
@using PizzeriaSushi2._0.Enums
@{
    ViewData["Title"] = "ADD SOMETHING";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div>
        <label asp-for="ItemName"></label>
        <input asp-for="ItemName" class="form-control" />
    </div>
    <div>
        <label asp-for="ItemDescription"></label>
        <textarea asp-for="ItemDescription" class="form-control"></textarea>
    </div>
    <div>
        <label asp-for="ItemPrice"></label>
        <input asp-for="ItemPrice" type="number" step="0.01" class="form-control" />
    </div>
   
    <div>
        <label asp-for="ItemFoodCategory"></label>
        <select asp-for="ItemFoodCategory" asp-items="Html.GetEnumSelectList<FoodCategory>()" class="form-control">
            <option value="">Select Food Category</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
