@page
@model MenuModel
@{
    ViewData["Title"] = "MENUKORT";
}
<h1>@ViewData["Title"]</h1>
<img src="https://www.z-sushi.dk/wp-content/uploads/2020/12/Z_Sushi_0436-1500x630.jpg" alt="Sushi1" width ="1300">
<! --https://imageproxy.wolt.com/menu/menu-images/5f047beb1f6260c5173fe591/1b00e12c-1f04-11ee-9d87-9aefc334fd43_punjabi_special.jpg -->

<body>
    <div class="container">
        <div class="menu">
            <h2 class="menu-group-heading">
                Popular
            </h2>
            <div class="menu-group">
                <div class="menu-item">
                    <img class="menu-item-image" src="https://imageproxy.wolt.com/menu/menu-images/5f047beb1f6260c5173fe591/1b00e12c-1f04-11ee-9d87-9aefc334fd43_punjabi_special.jpg" alt="Bruschetta">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Punjabi Special Pizza</span>
                            <span class="menu-item-price">80 KR</span>
                        </h3>
                        <p class="menu-item-description">
                            Tomat, ost, hvidløg, chili , kødstrimler, kylling, løg, paprika, gørnt peber og jalapenos.
                        </p>
                    </div>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIl9O-SdFIgozkcNm_0xrCHZ7d1OchZT3KsA&usqp=CAU" alt="Bruschetta">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Sushi Menu 2</span>
                            <span class="menu-item-price">349 KR</span>
                        </h3>
                        <p class="menu-item-description">
                            36stk.sushi + starter
                            starters: 6stk. mini forårsruller og 3 stk. tempura reje m. sød chili sauce

                            Nigiri: 2 laks, 2 tuna, 2 laks m. avocado

                            Maki: 6 stk. ebi tempura big roll

                            8 stk. fire dragon roll, 8 stk. Crispy special roll

                            4 stk. Alaska roll, 4 stk. spicy tuna roll

                            sauce: 1 spicy mayo
                        </p>
                    </div>
                </div>
            </div>
            <h2 class="menu-group-heading">
                Dessert
            </h2>
            <div class="menu-group">
                <div class="menu-item">
                    <img class="menu-item-image" src="https://dummyimage.com/600x400/f00/000" alt="Bruschetta">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Bruschetta</span>
                            <span class="menu-item-price">$12.90</span>
                        </h3>
                        <p class="menu-item-description">
                            Nunc efficitur felis vel mi efficitur, sed molestie sem scelerisque. Fusce orci risus,
                            congue eu mauris nec, pretium tincidunt nulla.
                        </p>
                    </div>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://dummyimage.com/600x400/00f/000" alt="Bruschetta">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Bruschetta</span>
                            <span class="menu-item-price">$12.90</span>
                        </h3>
                        <p class="menu-item-description">
                            Nunc efficitur felis vel mi efficitur, sed molestie sem scelerisque. Fusce orci risus,
                            congue eu mauris nec, pretium tincidunt nulla.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>