@page
@model MenuModel
@{
    ViewData["Title"] = "MENUKORT";
}
<h1>@ViewData["Title"]</h1>
<img src="https://www.z-sushi.dk/wp-content/uploads/2020/12/Z_Sushi_0436-1500x630.jpg" alt="Sushi1" width ="1300">
<! --https://imageproxy.wolt.com/menu/menu-images/5f047beb1f6260c5173fe591/1b00e12c-1f04-11ee-9d87-9aefc334fd43_punjabi_special.jpg -->

<body>
    <div class="container">
        <div class="menu">
            <h2 class="menu-group-heading">
                Popular
            </h2>
            <div class="menu-group">
                <div class="menu-item">
                    <img class="menu-item-image" src="https://imageproxy.wolt.com/menu/menu-images/5f047beb1f6260c5173fe591/1b00e12c-1f04-11ee-9d87-9aefc334fd43_punjabi_special.jpg" alt="Punjabi Special Pizza 1">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Punjabi Special Pizza 1</span>
                            <span class="menu-item-price">100KR</span>
                        </h3>
                        <p class="menu-item-description">
                            Tomat, ost, hvidløg, chili , kødstrimler, kylling, løg, paprika, gørnt peber og jalapenos.
                        </p>
                    </div>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIl9O-SdFIgozkcNm_0xrCHZ7d1OchZT3KsA&usqp=CAU" alt="Sushi menu 2">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Sushi Menu 2</span>
                            <span class="menu-item-price">349KR</span>
                        </h3>
                        <p class="menu-item-description">
                            36stk.sushi + starter
                            starters: 6stk. mini forårsruller og 3 stk. tempura reje m. sød chili sauce

                            Nigiri: 2 laks, 2 tuna, 2 laks m. avocado

                            Maki: 6 stk. ebi tempura big roll

                            8 stk. fire dragon roll, 8 stk. Crispy special roll

                            4 stk. Alaska roll, 4 stk. spicy tuna roll

                            sauce: 1 spicy mayo
                        </p>
                    </div>
                </div>
            </div>
            <h2 class="menu-group-heading">
                Pizza
            </h2>
            <div class="menu-group">
                <div class="menu-item">
                    <img class="menu-item-image" src="https://www.valdemarsro.dk/wp-content/2011/05/pizza-margharita-1.jpg" alt="Magaritta pizza">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Magritta Pizza </span>
                            <span class="menu-item-price">50KR</span>
                        </h3>
                        <p class="menu-item-description">
                            Tomat, ost, basilikum
                        </p>
                    </div>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3ATKdbdlJxP2UiaMGk8vc7ACiQzo01yxPMQ&usqp=CAU" alt="Kylling pizza">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Kylling Pizza</span>
                            <span class="menu-item-price">60KR</span>
                        </h3>
                        <p class="menu-item-description">
                            Tomat, ost, kylling, løg, grøn peberfrugt
                        </p>
                    </div>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://img.kidspot.com.au/pZnR2nZu/kk/2015/03/hawaiian-pizza-recipe-605894-2.jpg" alt="HAWAI pizza">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Hawai Pizza </span>
                            <span class="menu-item-price">60KR</span>
                        </h3>
                        <p class="menu-item-description">
                            Tomat, ost, kalkun skinke og ananas.
                        </p>
                    </div>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://imageproxy.wolt.com/venue/60759f2e144b67cd7662a2b0/b8832826-acd6-11eb-931f-9ae5c462e84e_wolt_28.4.21_express_cafe8904.jpg" alt="Københavner pizza">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Københavner Pizza </span>
                            <span class="menu-item-price">60KR</span>
                        </h3>
                        <p class="menu-item-description">
                            Tomat, ost, kødstrimler, paprika og løg.
                        </p>
                    </div>
                </div>
            </div>
            <h2 class="menu-group-heading">
                Salat Pizza
            </h2>
            <div class="menu-group">
                <div class="menu-item">
                    <img class="menu-item-image" src="https://imageproxy.wolt.com/venue/5fff00a04df6268aed8ddafc/8a9ef764-60af-11eb-8f9a-1ec726a847ba_wolt_21.01.22_palazzo_pizzaria9735.jpg" alt="Salat pizza med kylling">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Salat Pizza m. Kylling </span>
                            <span class="menu-item-price">90KR</span>
                        </h3>
                        <p class="menu-item-description">
                            Tomat, ost, kylling, salat og dressing.
                        </p>
                    </div>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://imageproxy.wolt.com/menu/menu-images/60040712e52aaf9e702370cf/c97ae904-5b3a-11eb-ac24-46121cfb0bb0_23__1_.jpeg" alt="Salat pizza med Kød">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Salat Pizza m. Kød</span>
                            <span class="menu-item-price">90KR</span>
                        </h3>
                        <p class="menu-item-description">
                            Tomat, ost, kebab, salat og dressing.
                        </p>
                    </div>
                </div>
            </div>
            <h2 class="menu-group-heading">
                Punjabi Pizza
            </h2>
            <div class="menu-group">
                <div class="menu-item">
                    <img class="menu-item-image" src="https://imageproxy.wolt.com/menu/menu-images/5f047beb1f6260c5173fe591/1b00e12c-1f04-11ee-9d87-9aefc334fd43_punjabi_special.jpg" alt="Punjabi Special Pizza 1">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Punjabi Special Pizza 1 </span>
                            <span class="menu-item-price">100KR</span>
                        </h3>
                        <p class="menu-item-description">
                            Tomat, ost, hvidløg, chili , kødstrimler, kylling, løg, paprika, gørnt peber og jalapenos.
                        </p>
                    </div>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://imageproxy.wolt.com/menu/menu-images/62da91f25442e9753dcbef0b/061d58a0-14d1-11ed-aac4-f21d54a6cf87_punjabi_special.jpeg" alt="Punjabi Special Pizza 2">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Punjabi Special Pizza 2</span>
                            <span class="menu-item-price">100KR</span>
                        </h3>
                        <p class="menu-item-description">
                            Tomat, ost, hvidløg, chili,  tikka kylling, løg, paprika og jalapenos.
                        </p>
                    </div>
                </div>
            </div>
            <h2 class="menu-group-heading">
                Sushi-Menuer
            </h2>
            <div class="menu-group">
                <div class="menu-item">
                    <img class="menu-item-image" src="https://imageproxy.wolt.com/menu/menu-images/5e454d52d7f060abb20ac199/b99d85b0-1c59-11ec-9352-ea5f8b8dec9e_m1_menu_1.jpeg?w=960" alt="Sushi menus 1">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Sushi Menu 1 </span>
                            <span class="menu-item-price">140KR</span>
                        </h3>
                        <p class="menu-item-description">
                            Nigiri
                            2 x Laks
                            1 x Tun
                            1 x Reje

                            Uramaki
                            4 x Tempura
                            4 x Spicy Laks

                            Hosomaki
                            4 x laks
                        </p>
                    </div>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIl9O-SdFIgozkcNm_0xrCHZ7d1OchZT3KsA&usqp=CAU" alt="Sushi menu 2">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Sushi Menu 2</span>
                            <span class="menu-item-price">349KR</span>
                        </h3>
                        <p class="menu-item-description">
                            36stk.sushi + starter
                            starters: 6stk. mini forårsruller og 3 stk. tempura reje m. sød chili sauce

                            Nigiri: 2 laks, 2 tuna, 2 laks m. avocado

                            Maki: 6 stk. ebi tempura big roll

                            8 stk. fire dragon roll, 8 stk. Crispy special roll

                            4 stk. Alaska roll, 4 stk. spicy tuna roll

                            sauce: 1 spicy mayo
                        </p>
                    </div>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://imageproxy.wolt.com/menu/menu-images/5e454d52d7f060abb20ac199/2ef9ddea-1c5a-11ec-9508-c6e4f819be52_m8__maki_menu_2.jpeg?w=960" alt="Maki menu">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Maki Menu </span>
                            <span class="menu-item-price">220KR</span>
                        </h3>
                        <p class="menu-item-description">
                            32 Stk
                            Uramaki
                            8 x Tempura reje
                            8 x California
                            8 x Alaska
                            8 x New Jersey
                        </p>
                    </div>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://imageproxy.wolt.com/menu/menu-images/5e454d52d7f060abb20ac199/ad976eae-1c5c-11ec-88ee-524e5f9f8b17_m12_happy_party__76_stk._.jpeg?w=960" alt="Happy Party menu">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Happy Party Menu </span>
                            <span class="menu-item-price">700KR</span>
                        </h3>
                        <p class="menu-item-description">
                            76 Stk
                            Nigiri
                            4 x Laks
                            4 x Flamberet laks
                            4 x Tun
                            4 x Rejer

                            Uramaki
                            8 x New Jersey
                            8 x Alaska

                            Kaburimaki
                            8 x Sunrise
                            8 x Tiger

                            Futomaki
                            6 x California Big
                            6 x Tempura Big

                            Hosomaki
                            8 x Avocado
                            8 x Laks
                        </p>
                    </div>
                </div>
            </div>
            <h2 class="menu-group-heading">
                Uramaki
            </h2>
            <div class="menu-group">
                <div class="menu-item">
                    <img class="menu-item-image" src="https://imageproxy.wolt.com/menu/menu-images/shared/2f66a4a6-4b0c-11ee-8928-2a29f48f4603_uramaki_tempura_reje_roll.jpg?w=960" alt="Ebi Tempura Roll">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Ebi Tempura Roll </span>
                            <span class="menu-item-price">50KR</span>
                        </h3>
                        <p class="menu-item-description">
                            5 Stk
                            Crispy reje, agurk, avocado og sesam.
                        </p>
                    </div>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://imageproxy.wolt.com/menu/menu-images/shared/51f93cac-4b0e-11ee-a5af-bed2fde511de_uramaki_california_roll.jpg?w=960" alt="California Roll">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">California Roll</span>
                            <span class="menu-item-price">50KR</span>
                        </h3>
                        <p class="menu-item-description">
                            5 Stk
                            Avocado, surimi, agurk og sesam.
                        </p>
                    </div>
                </div>
            </div>
            <h2 class="menu-group-heading">
                Futomaki
            </h2>
            <div class="menu-group">
                <div class="menu-item">
                    <img class="menu-item-image" src="https://imageproxy.wolt.com/menu/menu-images/shared/30773f3a-4b0d-11ee-91c4-8e680bab4607_futomaki_ebi_tempura_roll.jpg?w=960" alt="Futomaki Ebi Tempura Roll">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Futomaki Ebi Tempura Roll </span>
                            <span class="menu-item-price">60KR</span>
                        </h3>
                        <p class="menu-item-description">
                            5 Stk
                            Tigerreje, avocado og agurk.
                        </p>
                    </div>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://imageproxy.wolt.com/menu/menu-images/shared/380b4296-4b0d-11ee-87e0-12d9ac57c42e_futomaki_tigerreje_roll.jpg?w=960" alt="Futomaki tigerreje Roll
">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">
                                Futomaki tigerreje Roll
                            </span>
                            <span class="menu-item-price">60KR</span>
                        </h3>
                        <p class="menu-item-description">
                            Tigerreje, avocado, agurk, tofu, tobiko og tangsalat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>